[Unit]
Description=Pigpio GPIO daemon
Before=touch-beep.service

[Service]
Type=forking
ExecStart=/usr/local/bin/pigpiod
TimeoutStopSec=3
PIDFile=/run/pigpio.pid

#User=root
#Group=root

Restart=always

[Install]
WantedBy=multi-user.target
#Alias=pigpio.service
