[Unit]
Description=Pigpio GPIO daemon

[Service]
ExecStart=/usr/bin/pigpiod
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target

