  [Unit]
  Description=pigpio daemon service
  After=

  [Service]
  ExecStart=pigpiod
  Restart=always

  [Install]
  WantedBy=multi-user.target
