  [Unit]
  Description=touch-beep service
  After=pigpiod.service

  [Service]
  ExecStart=/opt/ComfileTech/touch/Beep/touch-beep
  Restart=always

  [Install]
  WantedBy=multi-user.target
